@page "/winequalityprediction/wineanalytics"
@*@implements IDisposable*@

@inject IJSRuntime JSRuntime;

@*<div class="form-group">
        <table style="padding:5px;">
            <thead>
                <tr>
                    <td><label>Chat Service - use Analytics Controller with Signal-R</label></td>
                </tr>
            </thead>
            <tr>
                <td>
                    <label>
                        User:
                        <input @bind="userInput" />
                    </label>
                </td>
                <td>
                    <label>
                        Message:
                        <input @bind="messageInput" size="50" />
                    </label>
                </td>
                <td><button @onclick="Connect">Connect Chat Service</button></td>
                <td><button @onclick="Send">Send Message</button></td>
            </tr>
        </table>
    </div>*@
<h3>Data Preparation: Analytics and Dimensionality Reduction</h3>
<table class="table" style='font-size:small;line-height: 1.428;'>
    <thead style="background-color:gainsboro; border-color:gray;">
        <tr>
            @*<td>
                <div>
                    <label for="start">Select algorithm:</label>
                    <select @bind="@SelectedAlgorithm" class="select-box">
                        <option value="None">== None ==</option>
                        <option value="decision-tree">Decision Tree</option>
                        <option value="naive-bayes">Naive Bayes</option>
                    </select>
                </div>
            </td>*@
            <td class="text-left">
                <button class="btn btn-primary" @onclick="@RunDatasetAnalysis" style='font-size:small;line-height: 1.428;'>Run Dataset Analysis</button>
                <button class="btn btn-primary" @onclick="@PersistProcessedData" style='font-size:small;line-height: 1.428;'>Persists Processed Data</button>
                <button class="btn btn-primary" @onclick="() => { messages.Clear(); }" style='font-size:small;line-height: 1.428;'>Clear MessagesList</button>
                @*<button class="btn btn-primary" @onclick="@TestDataPreparationService" style='font-size:small;line-height: 1.428;'>Test Data Preparation Service</button>*@
            </td>
        </tr>
    </thead>
</table>
<hr />

<div>
    <label>Session Messages:</label>
    <ul id="messagesList">
        @foreach (var message in messages)
        {
            if (message.Item1 == "error")
            {
                <li style="color:red">[@message.Item1] @message.Item2</li>
            }
            if (message.Item1 == "info")
            {
                <li style="color:green">[@message.Item1] @message.Item2</li>
            }
        }
    </ul>
</div>

<p><i><mark>@waitMessage</mark></i></p>

@if (isRunDatasetAnalysisAvailable)
{
    <div>
        <label>Session Dataset Analysis Results:</label>
        <table border="1">
            <tr style="visibility:@isVisibleChartHistogram">
                <td><b>Chart: @attributesHistogramTitle</b></td>
                <td>
                    <img src=@attributesHistogramChart
                         width="30" height="20"
                         onmouseover="JavaScript:this.style.cursor='pointer'"
                         onmouseout="JavaScript:this.style.cursor='default'"
                         @onclick="@(x => ModalShow(attributesHistogramTitle,attributesHistogramChart))" />&nbsp;(click for chart image)
                </td>
            </tr>
            <tr style="visibility:@isVisibleQualityHistogram">
                <td><b>Chart: @qualityHistogramTitle</b></td>
                <td>
                    <img src=@qualityHistogramChart
                         width="30" height="20"
                         onmouseover="JavaScript:this.style.cursor='pointer'"
                         onmouseout="JavaScript:this.style.cursor='default'"
                         @onclick="@(x => ModalShow(qualityHistogramTitle,qualityHistogramChart))" />&nbsp;(click for chart image)
                </td>
            </tr>
            <tr style="visibility:@isVisibleCorrelationAttributes">
                <td><b>Correlation Attributes</b> </td>
                <td>@correlationAttributes</td>
            </tr>
            <tr style="visibility:@isVisibleQualityValuesDropped">
                <td><b>Quality Values Dropped</b></td>
                <td>@qualityValuesDropped</td>
            </tr>
            <tr style="visibility:@isVisibleCorrelationChart">
                <td><b>Chart: @correlationTitle</b></td>
                <td>
                    <img src=@correlationChart
                         width="30" height="20"
                         onmouseover="JavaScript:this.style.cursor='pointer'"
                         onmouseout="JavaScript:this.style.cursor='default'"
                         @onclick="@(x => ModalShow(correlationTitle,correlationChart))" />&nbsp;(click for chart image)
                </td>
            </tr>
        </table>
    </div>
}
<hr />

@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block;" aria-modal="true" role="dialog">
        <div class="modal-dialog" modal-lg>
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Chart: @selectedChartName</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <img src=@selectedChartSource width="@chartWidth" height="@chartHeight" />
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" @onclick=ShowActualSizeImage>Render chart in separate window...</button>
                </div>
            </div>
        </div>
    </div>
}

<!--<img src="http://localhost:53535/static/John-Snow.jpg" />-->
@code {
    private string testChartSource = @"http://localhost:53535/static/John-Snow.jpg";

    bool showModal = false;
    string selectedChartName;
    string selectedChartSource;

    void ModalShow(string chartName, string chartSource)
    {
        selectedChartName = chartName;
        selectedChartSource = chartSource;
        showModal = true;
    }
    void ModalCancel()
    {
        showModal = false;
    }

    void ModalOk()
    {
        Console.WriteLine("Modal ok");
        showModal = false;
    }

    private async Task ShowActualSizeImage()
    {
        await JSRuntime.InvokeAsync<string>("showActualSizeImage", selectedChartSource);
    }
}