@page "/winequalityprediction/winemlmodel"
@*@implements IDisposable*@

@inject IJSRuntime JSRuntime;

@*<div class="form-group">
        <table style="padding:5px;">
            <thead>
                <tr>
                    <td><label>Chat Service - use Analytics Controller with Signal-R</label></td>
                </tr>
            </thead>
            <tr>
                <td>
                    <label>
                        User:
                        <input @bind="userInput" />
                    </label>
                </td>
                <td>
                    <label>
                        Message:
                        <input @bind="messageInput" size="50" />
                    </label>
                </td>
                <td><button @onclick="Connect">Connect Chat Service</button></td>
                <td><button @onclick="Send">Send Message</button></td>
            </tr>
        </table>
    </div>*@
<h3>Machine Learning: Predictive Algorithm Modeling</h3>
<table class="table" style='font-size:small;line-height: 1.428;'>
    <thead style="background-color:gainsboro; border-color:gray;">
        <tr>
            <td>
                <label for="start">Select algorithm type:</label>
            </td>
            <td>
                <label for="start">Select algorithm:</label>
            </td>
            <td>
                <label for="start">Select saved preparred data session:</label>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div>
                    <input type="radio" id="classification" name="algtype" value="1" @onchange="PopulateAlgorithmList">
                    <label for="classification">Classification</label><br>
                    <input type="radio" id="regression" name="algtype" value="2" @onchange="PopulateAlgorithmList">
                    <label for="regression">Regression</label><br>
                </div>
            </td>
            <td>
                <div>
                    <select @bind="@SelectedAlgorithm" class="select-box">
                        <option value="None">== None ==</option>
                        @if (isAlgorithmListAvailable)
                            @foreach (var algorithm in Algorithms)
                            {
                                <option value="@algorithm.Name">@algorithm.DisplayName</option>
                            }
                        }
                    </select>
                </div>
            </td>
            <td>
                <div>
                    <select @onchange="@PopulateSessionDetails" class="select-box">
                        <option value="None">== None ==</option>
                        @if (isSessionsListAvailable)
                            @foreach (var session in WorkingSessions)
                            {
                                <option value="@session.SessionId" title="created on @session.CreatedOn">@session.SessionId</option>
                            }
                        }
                    </select>
                </div>
            </td>
            <td class="text-left">
                <button class="btn btn-primary" @onclick="@RunMachineLearningModel" style='font-size:small;line-height: 1.428;'>Train &amp; Test ML Model</button>
                <button class="btn btn-primary" @onclick="() => { messages.Clear(); }" style='font-size:small;line-height: 1.428;'>Clear MessagesList</button>
            </td>
        </tr>
    </thead>
    <tr>
        <td colspan="4">
            <div class="form-group">
                @if (isSavedDODetailsAvailable)
                {
                    <label for="start">Details of persisted data object:</label>
                    <textarea class="form-control" @bind="PersistedDODetails" rows="5"></textarea>
                }
                else
                {
                    <label for="start" style="visibility:hidden">Details of persisted data object:</label>
                    <textarea class="form-control" @bind="PersistedDODetails" rows="5" style="visibility:hidden"></textarea>
                }
            </div>
        </td>
    </tr>
</table>
<hr />

<div>
    <label>Session Messages:</label>
    <ul id="messagesList">
        @foreach (var message in messages)
        {
            if (message.Item1 == "error")
            {
                <li style="color:red">[@message.Item1] @message.Item2</li>
            }
            if (message.Item1 == "info")
            {
                <li style="color:green">[@message.Item1] @message.Item2</li>
            }
        }
    </ul>
</div>

<p><i><mark>@waitMessage</mark></i></p>

@if (isModelDataAvailable)
{
    <div>
        <label>Session Predictive Algorithm Modeling Results:</label>
        <table border="1">
        @foreach (var result in trainingModelResults)
        {
            <tr>
                <td><b>@result.Key</b></td>
                <td>@result.Value</td>
            </tr>

        }
        </table>
    </div>
}
<hr />

@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block;" aria-modal="true" role="dialog">
        <div class="modal-dialog" modal-lg>
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@selectedResultName</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>@selectedResultContent</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" @onclick=@ModalOk>Close</button>
                </div>
            </div>
        </div>
    </div>
}

<!--<img src="http://localhost:53535/static/John-Snow.jpg" />-->
@code {

    bool showModal = false;
    string selectedResultName;
    string selectedResultContent;

    void ModalShow(string resultName, string resultContent)
    {
        selectedResultName = resultName;
        selectedResultContent = resultContent;
        showModal = true;
    }
    void ModalCancel()
    {
        showModal = false;
    }

    void ModalOk()
    {
        Console.WriteLine("Modal ok");
        showModal = false;
    }

}